<div class="list-group user-sidebar">
    <a href="/members/profile" class="list-group-item list-group-item-action">Thông tin tài khoản</a>
    <a href="/members/series-following" class="list-group-item list-group-item-action">Đang theo dõi</a>
    <a href="/members/series-posted" class="list-group-item list-group-item-action">Truyện đã đăng</a>
</div>