<div class="container my-5">
    <div class="row">
        <div class="col-sm-3">
            <div class="list-group user-sidebar">
                <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                    Thông tin tài khoản
                </a>
                <a href="#" class="list-group-item list-group-item-action">Đang theo dõi</a>
                <a href="#" class="list-group-item list-group-item-action">Truyện đã đăng</a>
            </div>
        </div>
        <div class="col-sm-9">
            <h2 class="title mt-5">Đăng chương truyện</h2>
            <form action="/chapters/create" method="POST" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-sm-12 col-md-4 py-3 d-flex flex-row align-items-center">
                        <ion-icon name="book" size="large" class="mr-3"></ion-icon>
                        <h4>Tên truyện: </h4>
                    </div>
                    <div class="col-sm-12 col-md-8 py-3 d-flex flex-row align-items-center">
                        <h4><strong>Tên truện</strong></h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-4 py-3 d-flex flex-row align-items-center">
                        <ion-icon name="albums" size="large" class="mr-3"></ion-icon>
                        <h4 for="name">Tên chương: </h4>

                    </div>
                    <div class="col-sm-12 col-md-8 py-3 d-flex flex-row align-items-center">
                        {{!-- <input id="name" class="form-control rounded" type="text" name="name"
                            placeholder="Nhập tên chương truyện"> --}}
                        <span id="name-message"></span>
                        <input type="text" name="name" id="name" tabindex="2" class="form-control"
                            placeholder="Nhập tên chương truyện" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-4  py-3 d-flex flex-row align-items-center">
                        <ion-icon name="list" size="large" class="mr-3"></ion-icon>
                        <h4>Danh sách link ảnh: </h4>
                    </div>
                    <div class="col-sm-12 col-md-4 py-3 d-flex flex-row align-items-center">
                        <button id="btn-upload" class="btn btn-light d-flex flex-row align-items-center rounded mr-3"
                            style="height: 30px;">
                            <ion-icon name="add-circle-sharp" class="mr-3"></ion-icon>
                            Thêm ảnh
                        </button>
                        <button id="btn-link-upload" class="btn btn-light d-flex flex-row align-items-center rounded"
                            style="height: 30px;">
                            <ion-icon name="add-circle-sharp" class="mr-3"></ion-icon>
                            Thêm link ảnh
                        </button>
                    </div>
                    <div id="link-area" class="col-sm-12 d-flex flex-column justify-content-center ">
                        {{!-- <div class="col-sm-10 py-3 d-flex flex-row align-items-center justify-content-between">
                            <div class="d-flex flex-row  align-items-center">
                                <ion-icon name="newspaper" class="mr-3"></ion-icon>
                                <h4>Link ảnh 1: </h4>
                            </div>
                            <input type="text" name="images[{{@index}}]" value={{this}} style="max-width: 70%;"
                                class="form-control" placeholder="https://" required>
                            <button
                                class="btn-icon btn-delete d-flex flex-row align-items-center justify-content-center">
                                <ion-icon size="large" name="close-circle-sharp"></ion-icon>
                            </button>
                        </div> --}}

                    </div>
                    <article>
                        <input id="files" name="photos" type="file" accept="image/*" multiple />
                        <output id="result" style="display: flex;flex-wrap: wrap;" />
                    </article>

                    <div class="col-sm-12 d-flex justify-content-center">
                        <button class="btn btn-light d-flex flex-row align-items-center justify-content-center rounded"
                            style="width: inherit;background-color: lightblue;" type="submit">
                            Đăng
                        </button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>

{{#section 'script'}}

<script type="application/javascript">
    $(function () {
        $("button").click(function (event) {
            console.log($(this).prop("name"));
        });
        $("#btn-upload").click(function (event) {
            event.preventDefault();
            document.getElementById("files").click();
        });
        $("#btn-link-upload").click(function (event) {
            event.preventDefault();
            const idLink = $('#link-area')[0].children.length

            const div = document.createElement("div");
            div.setAttribute("id", `input-link-${idLink}`)
            div.classList.add("col-sm-10", "py-3", "d-flex", "flex-row", "align-items-center", "justify-content-between")
            div.innerHTML = `<div class="d-flex flex-row  align-items-center">
                                    <ion-icon name="newspaper" class="mr-3"></ion-icon>
                                    <h4>Link ảnh ${idLink + 1}: </h4>
                                </div>
                                <input type="text" name="images[{{idLink}}]"  style="max-width: 70%;"
                                    class="form-control" placeholder="https://" required>
                                <button class="btn-icon btn-delete d-flex flex-row align-items-center justify-content-center" onclick="removeInput(event, 'input-link-${idLink}')">
                                    <ion-icon size="large" name="close-circle-sharp"></ion-icon>
                                </button>`
            const linkArea = document.getElementById("link-area");
            linkArea.insertBefore(div, null)
        });
        $(".btn-icon.btn-delete").on("click", (event) => {
            event.preventDefault();
            console.log($(this).prop("name"));
        });

        if (window.File && window.FileList && window.FileReader) {
            var filesInput = document.getElementById("files");
            console.log(filesInput)
            filesInput.addEventListener("change", function (event) {
                var files = event.target.files; //FileList object
                var output = document.getElementById("result");
                for (var i = 0; i < files.length; i++) {
                    var file = files[i];
                    //Only pics
                    if (!file.type.match('image'))
                        continue;
                    var picReader = new FileReader();
                    picReader.addEventListener("load", function (event) {
                        var picFile = event.target;
                        var div = document.createElement("div");
                        div.innerHTML = "<img class='thumbnail' src='" + picFile.result + "'" +
                            "title='" + picFile.name + "'/>";
                        output.insertBefore(div, null);
                    });
                    //Read the image
                    picReader.readAsDataURL(file);
                }

            });
        }
        else {
            console.log("Your browser does not support File API");
        }
    }
    );
    function removeInput(e, id) {
        e = e || window.event;
        e.preventDefault()
        console.log(id)
        const inputLinkE = document.getElementById(id)
        inputLinkE.remove()
    }
</script>

{{/section}}