<div class="container my-5">
    <div class="row">
        <div class="col-sm-12">
            <h2>Đăng chương truyện</h2>
        </div>

        <div class="col-sm-12 col-md-4 py-3 d-flex flex-row align-items-center">
            <ion-icon name="book" size="large" class="mr-3"></ion-icon>
            <h4>Tên truện: </h4>
        </div>
        <div class="col-sm-12 col-md-8 py-3 d-flex flex-row align-items-center">
            <h4><strong>Tên truện</strong></h4>

        </div>
        <div class="col-sm-12 col-md-4 py-3 d-flex flex-row align-items-center">
            <ion-icon name="albums" size="large" class="mr-3"></ion-icon>
            <h4>Tên chương: </h4>
        </div>
        <div class="col-sm-12 col-md-8 py-3 d-flex flex-row align-items-center">
            <input class="form-control  rounded" type="text" placeholder="Nhập tên chương truyện">
        </div>
        <div class="col-sm-12  py-3 d-flex flex-row align-items-center">
            <ion-icon name="list" size="large" class="mr-3"></ion-icon>
            <h4>Danh sách link ảnh: </h4>
        </div>
        <div class="col-sm-12 d-flex justify-content-center ">
            <div class="col-sm-10 py-3 d-flex flex-row align-items-center justify-content-between">
                <div class="d-flex flex-row  align-items-center">
                    <ion-icon name="newspaper" class="mr-3"></ion-icon>
                    <h4>Link ảnh 1: </h4>
                </div>
                <input class="form-control rounded" style="max-width: 80%;" type="text" placeholder="https://">
                <button class=" btn-icon d-flex flex-row align-items-center justify-content-center">
                    <ion-icon size="large" name="close-circle-sharp"></ion-icon>
                </button>
            </div>
        </div>
        <div class="col-sm-12 d-flex justify-content-center ">
            <div class="col-sm-10 py-3 d-flex flex-row align-items-center justify-content-between">
                <div class="d-flex flex-row  align-items-center">
                    <ion-icon name="newspaper" class="mr-3"></ion-icon>
                    <h4>Link ảnh 1: </h4>
                </div>
                <input class="form-control rounded" style="max-width: 80%;" type="text" placeholder="https://">
                <button class=" btn-icon d-flex flex-row align-items-center justify-content-center">
                    <ion-icon size="large" name="close-circle-sharp"></ion-icon>
                </button>
            </div>
        </div>
        <div class="col-sm-12 d-flex justify-content-center ">
            <div class="col-sm-10 py-3 d-flex flex-row align-items-center justify-content-between">
                <div class="d-flex flex-row  align-items-center">
                    <ion-icon name="newspaper" class="mr-3"></ion-icon>
                    <h4>Link ảnh 1: </h4>
                </div>
                <input class="form-control rounded" style="max-width: 80%;" type="text" placeholder="https://">
                <button class=" btn-icon d-flex flex-row align-items-center justify-content-center">
                    <ion-icon size="large" name="close-circle-sharp"></ion-icon>
                </button>
            </div>
        </div>
        <div class="col-sm-12 d-flex justify-content-center ">
            <div class="col-sm-10 py-3 d-flex flex-row align-items-center justify-content-between">
                <button class="btn btn-light d-flex flex-row align-items-center rounded" style="height: 30px;">
                    <ion-icon name="add-circle-sharp" class="mr-3"></ion-icon>
                    Thêm link ảnh
                </button>
            </div>
        </div>
        <div class="col-sm-12 d-flex justify-content-center">
            <button class="btn btn-light d-flex flex-row align-items-center justify-content-center rounded"
                style="width: inherit;background-color: lightblue;">
                Đăng
            </button>
        </div>



    </div>
</div>