<!-- =====  CONTAINER START  ===== -->
<div class="container">
    <h1 class="mt-4">Chapter: <span style="font-weight: 600;">{{chapter.name}}</span> </h1>
    <nav aria-label="Page navigation example" style="display: flex;justify-content: center;">
        <ul class="pagination">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
    <div class="row">
        {{#each images}}
        <div class="chapter-layout chapter-grid col-sm-12 ">
            <div class="item">
                <div class="chapter-thumb clearfix mb_30">
                    <div class="image chapter-imageblock">
                        {{!-- <img data-name="chapter_image" src="/image2db075968276fca03380f072dc167dd4.png"
                            alt="iPod Classic" class="img-responsive" /> --}}
                        <img data-name="chapter_image" src={{this.url}} alt="iPod Classic" class="img-responsive" />
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    <nav aria-label="Page navigation example" style="display: flex;justify-content: center;">
        <ul class="pagination">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>

</div>