<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Website đọc truyện tranh</title>
  <!-- =====  SEO MATE  ===== -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="distribution" content="global">
  <meta name="revisit-after" content="2 Days">
  <meta name="robots" content="ALL">
  <meta name="rating" content="8 YEARS">
  <meta name="Language" content="en-us">
  <meta name="GOOGLEBOT" content="NOARCHIVE">
  <!-- =====  MOBILE SPECIFICATION  ===== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="viewport" content="width=device-width">
  <!-- =====  CSS  ===== -->


  {{!--
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> --}}

  <link rel="stylesheet" type="text/css" href="/css/bootstrap-grid.css" />
  <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/magnific-popup.css">
  <link rel="stylesheet" type="text/css" href="/css/owl.carousel.css">
  <link rel="shortcut icon" href="/images/logo.svg">
  <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png">
  {{!-- Custom css --}}
  <link rel="stylesheet" type="text/css" href="/css/my-stylesheet.css">

  {{!-- Font awesome --}}
  <!--     <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js"
    crossorigin="anonymous"></script> -->

  {{!-- >>> Đừng comment cái này nha ..., pls --}}
  <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
</head>

<body>
  <!-- =====  HEADER START  ===== -->
  <header id="header">
    <div class="header-top">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="header-top-left">
              <a href="/">
                <div class="contact">
                  <span class="hidden-xs hidden-sm hidden-md">
                    <img alt="logo" src="/images/logo1.svg" />
                  </span>
                </div>
              </a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <form class="main-search mt_40" method="GET" action="/search">
              <input id="search-input" name="q" placeholder="Nhập tên truyện bạn cần tìm" class="form-control input-lg"
                autocomplete="off" type="text">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-default btn-lg"><i class="fa fa-search"></i></button>
              </span>
            </form>
          </div>
          <div class="col-xs-12 col-sm-4">
            <ul class="header-top-right text-right">
              {{#ifUnd user}}
              <li class="account"><a href="/members/login">Login</a></li>
              <li class="account"><a href="/members/register">Register</a></li>
              {{else}}
              <li class="account"><a href="/members/profile">{{user.email}}</a></li>
              <li class="account"><a href="/members/logout">Log out</a></li>
              {{/ifUnd}}
            </ul>
          </div>
        </div>
      </div>
      <nav class="navbar">
        <p>menu</p>
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse"> <span
            class="i-bar"><i class="fa fa-bars"></i></span></button>
        <div class="collapse navbar-collapse js-navbar-collapse">
          <ul id="menu" class="nav navbar-nav">
            <li> <a href="/">Trang chủ</a></li>
            <li class="dropdown mega-dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Thể loại</a>
              <ul class="dropdown-menu mega-dropdown-menu row">
                <li class="col-md-2">
                </li>
                <li class="col-md-3">
                  <ul>
                    <li><a href="/genre/5ffbb82936ba3a07f4b669e8">Hành động</a></li>
                    <li><a href="/genre/5ffbb85636ba3a07f4b669e9">Lịch sử</a></li>
                    <li><a href="/genre/5ffbb85e36ba3a07f4b669ea">Phiêu lưu</a></li>
                    <li><a href="/genre/5ffbb86836ba3a07f4b669eb">Hài hước</a></li>
                  </ul>
                </li>
                <li class="col-md-3">
                  <ul>
                    <li><a href="/genre/5ffbb86f36ba3a07f4b669ec">Học đường</a></li>
                    <li><a href="/genre/5ffd6e617eac403c106e630c">Thể thao</a></li>
                    <li><a href="/genre/5ffd6e787eac403c106e630d">Viễn tưởng</a></li>
                    <li><a href="/genre/5ffd6e8d7eac403c106e630e">Kinh dị</a></li>
                  </ul>
                </li>
                <li class="col-md-3">
                  <ul>
                    <li><a href="/genre/5ffbb85e36ba3a07f4b669ea">Dành cho nam</a></li>
                    <li><a href="/genre/5ffbb85e36ba3a07f4b669ea">Dành cho nữ</a></li>
                    <li><a href="/genre/5ffbb85e36ba3a07f4b669ea">truyện ngắn</a></li>
                    <li><a href="/genre/5ffbb85e36ba3a07f4b669ea">Truyện dài</a></li>
                  </ul>
                </li>
                {{!-- <li class="col-md-3">
                  <ul>
                    <li id="myCarousel" class="carousel slide" data-ride="carousel">
                      <div class="carousel-inner">
                        <div class="item active"> <a href="#"><img src="/images/menu-banner1.jpg" class="img-responsive"
                              alt="Banner1"></a></div>
                        <!-- End Item -->
                        <div class="item"> <a href="#"><img src="/images/menu-banner2.jpg" class="img-responsive"
                              alt="Banner1"></a></div>
                        <!-- End Item -->
                        <div class="item"> <a href="#"><img src="/images/menu-banner3.jpg" class="img-responsive"
                              alt="Banner1"></a></div>
                        <!-- End Item -->
                      </div>
                      <!-- End Carousel Inner -->
                    </li>
                    <!-- /.carousel -->
                  </ul>
                </li> --}}
              </ul>
            </li>
            <li class="dropdown"> <a href="sort" class="dropdown-toggle" data-toggle="dropdown">Sắp xếp</a>
              <ul class="dropdown-menu">
                <li> <a href="cart_page.html">Top yêu thích</a></li>
                <li> <a href="checkout_page.html">Top lượt xem</a></li>
                <li> <a href="product_detail_page.html">Truyện mới</a></li>
                <li> <a href="single_blog.html">Truyện full</a></li>
              </ul>
            </li>
            {{#if user}}
            <li> <a href="members/series-following">Theo dõi</a></li>
            {{/if}}
          </ul>
        </div>
        <!-- /.nav-collapse -->
      </nav>
    </div>
    </div>
    </div>
    {{!-- <div class="header">
      <div class="container">
        <div class="row">
          <br />
        </div>
        <nav class="navbar">
          <p>menu</p>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse"> <span
              class="i-bar"><i class="fa fa-bars"></i></span></button>
          <div class="collapse navbar-collapse js-navbar-collapse">
            <ul id="menu" class="nav navbar-nav">
              <li> <a href="index.html">Home</a></li>
              <li class="dropdown mega-dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Genre</a>
                <ul class="dropdown-menu mega-dropdown-menu row">
                  <li class="col-md-3">
                    <ul>
                      <li class="dropdown-header">Women's</li>
                      <li><a href="#">Unique Features</a></li>
                      <li><a href="#">Image Responsive</a></li>
                      <li><a href="#">Auto Carousel</a></li>
                      <li><a href="#">Newsletter Form</a></li>
                      <li><a href="#">Four columns</a></li>
                      <li><a href="#">Four columns</a></li>
                      <li><a href="#">Good Typography</a></li>
                    </ul>
                  </li>
                  <li class="col-md-3">
                    <ul>
                      <li class="dropdown-header">Man's</li>
                      <li><a href="#">Unique Features</a></li>
                      <li><a href="#">Image Responsive</a></li>
                      <li><a href="#">Four columns</a></li>
                      <li><a href="#">Auto Carousel</a></li>
                      <li><a href="#">Newsletter Form</a></li>
                      <li><a href="#">Four columns</a></li>
                      <li><a href="#">Good Typography</a></li>
                    </ul>
                  </li>
                  <li class="col-md-3">
                    <ul>
                      <li class="dropdown-header">Children's</li>
                      <li><a href="#">Unique Features</a></li>
                      <li><a href="#">Four columns</a></li>
                      <li><a href="#">Image Responsive</a></li>
                      <li><a href="#">Auto Carousel</a></li>
                      <li><a href="#">Newsletter Form</a></li>
                      <li><a href="#">Four columns</a></li>
                      <li><a href="#">Good Typography</a></li>
                    </ul>
                  </li>
                  <li class="col-md-3">
                    <ul>
                      <li id="myCarousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                          <div class="item active"> <a href="#"><img src="../../images/menu-banner1.jpg"
                                class="img-responsive" alt="Banner1"></a></div>
                          <!-- End Item -->
                          <div class="item"> <a href="#"><img src="../../images/menu-banner2.jpg" class="img-responsive"
                                alt="Banner2"></a></div>
                          <!-- End Item -->
                          <div class="item"> <a href="#"><img src="../../images/menu-banner3.jpg" class="img-responsive"
                                alt="Banner3"></a></div>
                          <!-- End Item -->
                        </div>
                        <!-- End Carousel Inner -->
                      </li>
                      <!-- /.carousel -->
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="dropdown"> <a href="sort" class="dropdown-toggle" data-toggle="dropdown">Sort</a>
                <ul class="dropdown-menu">
                  <li> <a href="cart_page.html">Cart</a></li>
                  <li> <a href="checkout_page.html">Checkout</a></li>
                  <li> <a href="product_detail_page.html">Product Detail Page</a></li>
                  <li> <a href="single_blog.html">Single Post</a></li>
                </ul>
              </li>
              <li> <a href="follow.html">Follow</a></li>
            </ul>
          </div>
          <!-- /.nav-collapse -->
        </nav>
      </div>
    </div> --}}
  </header>
  <!-- =====  HEADER END  ===== -->
  {{{body}}}
  <!-- =====  FOOTER START  ===== -->
  <div class="footer pt_60">
    <div class="container">
      {{!-- <div class="newsletters mt_30 mb_50">
        <div class="row">
          <div class="col-sm-6">
            <div class="news-head pull-left">
              <h2>Follow Our Updates !</h2>
              <div class="new-desc">Be the First to know about our Fresh Arrivals and much more!</div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="news-form pull-right">
              <form onsubmit="return validatemail();" method="post">
                <div class="form-group required">
                  <input name="email" id="email" placeholder="Enter Your Email" class="form-control input-lg"
                    required="" type="email">
                  <button type="submit" class="btn btn-default btn-lg">Subscribe</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div> --}}
      <div class="row">
        <div class="col-md-2 footer-block">
          <h6 class="footer-title ptb_20">Liên hệ</h6>
          {{!-- <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Delivery Information</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms & Conditions</a></li>
            <li><a href="contact.html">Contact Us</a></li>
          </ul> --}}
        </div>
        <div class="col-md-2 footer-block">
          {{!-- <h6 class="footer-title ptb_20">Services</h6>
          <ul>
            <li><a href="#">Returns</a></li>
            <li><a href="#">Site Map</a></li>
            <li><a href="#">Wish List</a></li>
            <li><a href="#">My Account</a></li>
            <li><a href="#">Order History</a></li>
          </ul> --}}
          <h6 class="footer-title ptb_20">SĐT: 0969696969</h6>
        </div>
        <div class="col-md-3 footer-block">
          {{!-- <h6 class="footer-title ptb_20">Extras</h6>
          <ul>
            <li><a href="#">Brands</a></li>
            <li><a href="#">Gift Certificates</a></li>
            <li><a href="#">Affiliates</a></li>
            <li><a href="#">Specials</a></li>
            <li><a href="#">Newsletter</a></li>
          </ul> --}}
          <h6 class="footer-title ptb_20">Email: incognito@gmail.com</h6>
        </div>
        <div class="col-md-5 footer-block">
          {{!-- <h6 class="footer-title ptb_20">Contacts</h6>
          <ul>
            <li>Warehouse & Offices,</li>
            <li>12345 Street name, California USA</li>
            <li>(+024) 666 888</li>
            <li>leonode.wc@gmail.com</li>
            <li><a href="http://www.lionode.com/">www.lionode.com</a></li>
          </ul> --}}
          <h6 class="footer-title ptb_20">Địa chỉ: Trường Đại học Khoa học Tự nhiên - ĐHQG HCM</h6>
        </div>
      </div>
    </div>
    <div class="footer-bottom mt_60 ptb_20">
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            {{!-- <div class="social_icon">
              <ul>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-google"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-rss"></i></a></li>
              </ul>
            </div> --}}
          </div>
          <div class="col-sm-4">
            <div class="copyright-part text-center">@ 2021 All Rights Reserved Incognito</div>
          </div>
          <div class="col-sm-4">
            {{!-- <div class="payment-icon text-right">
              <ul>
                <li><i class="fa fa-cc-paypal "></i></li>
                <li><i class="fa fa-cc-visa"></i></li>
                <li><i class="fa fa-cc-discover"></i></li>
                <li><i class="fa fa-cc-mastercard"></i></li>
                <li><i class="fa fa-cc-amex"></i></li>
              </ul>
            </div> --}}
          </div>
        </div>
      </div>
    </div>
    <!-- =====  FOOTER END  ===== -->
    <a id="scrollup"></a>
    <script src="/js/jQuery_v3.1.1.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.magnific-popup.js"></script>
    <script src="/js/jquery.firstVisitPopup.js"></script>
    <script src="/js/custom.js"></script>
    <!--     <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    {{!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script> --}}
    {{{_sections.script}}}
</body>

</html>