<div class="container">
  <div class="col-sm-12 col-lg-12 mtb_20">
    <!-- contact  -->
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="panel-login panel">
          <div class="panel-heading">
            <div class="row mb_20">
              <div class="col-xs-6">
                <a href="#" class="active" id="login-form-link">Đăng Ký</a>
              </div>
            </div>
            <hr>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-lg-12">
                <div>{{error}}</div>
                <form id="login-form" action="#" method="post">
                  <div class="form-group">
                    <input type="text" name="fullName" id="fullName" tabindex="2" class="form-control"
                      placeholder="Tên đầy đủ" required>
                  </div>
                  <div class="form-group">
                    <input type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="Email"
                      value="" required>
                  </div>
                  <div class="form-group">
                    <span id="password-message"></span>
                    <input type="password" name="password" id="password" tabindex="2" class="form-control"
                      placeholder="Mật khẩu" required oninput="validPassword()">
                  </div>
                  <div class="form-group">
                    <span id="retype-password-message"></span>
                    <input type="password" name="retype_password" id="retype_password" tabindex="2" class="form-control"
                      placeholder="Nhập lại mật khẩu" required oninput="validRetype()">
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-sm-6 col-sm-offset-3">
                        <input type="submit" name="login_submit" id="login-submit" tabindex="4"
                          class="form-control btn btn-login" value="Đăng ký">
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    function validPassword() {
      console.log("ok")
      const password = String(document.getElementById('password').value);
      const message = document.getElementById('password-message');
      if (password.length <= 6) {
        message.style.display = "block";
        message.innerText = "Password must be over 6 characters";
      } else {
        message.style.display = "none";
      }
    }
    function validRetype() {
      console.log("ok")
      const re_password = String(document.getElementById('retype_password').value);
      const password = String(document.getElementById('password').value)
      const message = document.getElementById('retype-password-message');
      if (re_password !== password) {
        message.style.display = "block";
        message.innerText = "retype password do not match";
      } else {
        message.style.display = "none";
      }
    }

  </script>
</div>