<div class="container">
    <div class="row">
        <div class="col-sm-3">
            {{> memberSidebar}}
        </div>
        <div class="col-sm-9 user-container">
            <h1 class="title">Đăng truyện</h1>
            <form action="/members/series-posting" method="POST">
                <div class="row">
                    <label for="thumbnail" class="col-sm-2 col-form-label"><i class="fa fa-link"></i> Link ảnh
                        bìa</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="thumbnail" id="thumbnail">
                    </div>
                </div>
                <div class="row">
                    <label for="name" class="col-sm-2 col-form-label"><i class="fa fa-book"></i> Tên truyện</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="name" id="name" required>
                    </div>
                </div>
                <div class="row">
                    <label for="author" class="col-sm-2 col-form-label"><i class="fa fa-user"></i> Tác giả</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="author" id="author">
                    </div>
                </div>
                <div class="row">
                    <label for="genres" class="col-sm-2 col-form-label"><i class="fa fa-tag"></i> Thể loại</label>
                    <div id="genres" class="col-sm-10">

                        {{!-- Genres --}}
                        
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <button type="button" class="btn btn-secondary" onclick="addGenre()">
                            <i class="fa fa-plus"></i> Thêm thể loại
                        </button>
                        <button type="button" class="btn btn-secondary" onclick="deleteGenre()">
                            <i class="fa fa-minus"></i> Xóa
                        </button>
                    </div>
                </div>
                <div class="row">
                    <label for="summary" class="col-form-label"><i class="fa fa-file"></i> Nội dung</label>
                </div>
                <div class="row">
                    <textarea class="form-control" name="summary" id="summary"></textarea>
                </div>
                <div class="row submit-button">
                    <button type="submit" class="btn btn-secondary">Đăng truyện</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    var allGenres = [
        {
            id: "5ffbb82936ba3a07f4b669e8",
            name: "Hành động"
        },
        {
            id: "5ffbb85636ba3a07f4b669e9",
            name: "Lịch sử"
        },
        {
            id: "5ffbb85e36ba3a07f4b669ea",
            name: "Phiêu lưu"
        },
        {
            id: "5ffbb86836ba3a07f4b669eb",
            name: "Hài hước"
        },
        {
            id: "5ffbb86f36ba3a07f4b669ec",
            name: "Học đường"
        },
        {
            id: "5ffd6e617eac403c106e630c",
            name: "Thể thao"
        },
        {
            id: "5ffd6e787eac403c106e630d",
            name: "Viễn tưởng"
        },
        {
            id: "5ffd6e8d7eac403c106e630e",
            name: "Kinh dị"
        },
        {
            id: "60029d48ed62883fe489970a",
            name: "Trinh thám"
        },
        {
            id: "6002b273ed62883fe4899713",
            name: "Ẩm thực"
        },
    ];

    var addGenre = function () {
        var select = document.createElement('select');
        select.class = "form-select";
        select.name = "genre";

        allGenres.forEach(genre => {
            var option = document.createElement('option');
            option.value = genre.id;
            option.innerHTML = genre.name;
            select.appendChild(option);
        });

        document.getElementById('genres').appendChild(select);
    }

    var deleteGenre = function() {
        var genres = document.getElementById('genres');
        genres.removeChild(genres.childNodes[genres.childNodes.length - 1]);
    }
</script>