<div class="container">
    <div class="row">
        <div class="col-sm-3">
            {{> memberSidebar}}
        </div>
        <div class="col-sm-9 user-container">
            <h1 class="title">Đang theo dõi</h1>
            {{#each seriesFollowing}}
            <div class="row">
                <div class="col-sm-2">
                    <img src="{{this.thumbnail}}" alt="">
                </div>
                <div class="col-sm-6">
                    <h3>{{this.name}}</h3>
                </div>
                <div class="col-sm-4 align-right">
                    <a href="#" class="btn btn-secondary"><i class="fa fa-times"></i> Bỏ theo dõi</a>
                </div>
            </div>
            <hr>
            {{/each}}
        </div>
    </div>
</div>