<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="list-group user-sidebar">
                <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                    Thông tin tài khoản
                </a>
                <a href="#" class="list-group-item list-group-item-action">Đang theo dõi</a>
                <a href="#" class="list-group-item list-group-item-action">Truyện đã đăng</a>
            </div>
        </div>
        <div class="col-sm-9 user-container">
            <h1 class="title">Truyện đã đăng</h1>
            <div class="row">
                <button type="button" class="btn btn-secondary"><i class="fas fa-plus"></i> Đăng truyện</button>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <img src="/images/product/product1.jpg" alt="">
                </div>
                <div class="col-sm-6">
                    <h3>Tên truyện</h3>
                    <p class="series-posted-status">Trạng thái</p>
                </div>
                <div class="col-sm-4 align-right">
                    <button type="button" class="btn btn-secondary"><i class="fas fa-edit"></i> Chỉnh sửa</button>
                    <button type="button" class="btn btn-secondary"><i class="fas fa-times"></i> Xóa truyện</button>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-2">
                    <img src="/images/product/product1.jpg" alt="">
                </div>
                <div class="col-sm-6">
                    <h3>Tên truyện</h3>
                    <p class="series-posted-status">Trạng thái</p>
                </div>
                <div class="col-sm-4 align-right">
                    <button type="button" class="btn btn-secondary"><i class="fas fa-edit"></i> Chỉnh sửa</button>
                    <button type="button" class="btn btn-secondary"><i class="fas fa-times"></i> Xóa truyện</button>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-2">
                    <img src="/images/product/product1.jpg" alt="">
                </div>
                <div class="col-sm-6">
                    <h3>Tên truyện</h3>
                    <p class="series-posted-status">Trạng thái</p>
                </div>
                <div class="col-sm-4 align-right">
                    <button type="button" class="btn btn-secondary"><i class="fas fa-edit"></i> Chỉnh sửa</button>
                    <button type="button" class="btn btn-secondary"><i class="fas fa-times"></i> Xóa truyện</button>
                </div>
            </div>
            <hr>
        </div>
    </div>
</div>